////
// Shape/Polygon/Triangle
//
// @author Maxime Thirouin m@moox.fr @MoOx
///

// $direction: string that can be `top`, `right`, `bottom`, `left` or combination of `top`/`bottom`-`right`/`left`
// $width: width of the base of the triangle
// $height: height of the median of the triangle. Can be `half` (look nice), `auto` (same as width), or a numeric value. Note: for now `half` == `auto` when positions are combined)
// $color: color of the shape (using border-color);
@mixin triangle($direction: top, $width: 1em, $height: half, $color: #000)
{
	@if ($direction == top or $direction == right or $direction == bottom or $direction == left)
	{
		@if ($height == half)
		{
			$height: $width/2;
		}
		@else if ($height == auto)
		{
			$height: $width;
		}
	}
	@else // if ($direction == top-left or $direction == top-right or $direction == bottom-left or $direction == bottom-right)
	{
		@if ($height == half or $height == auto)
		{
			$height: $width/2;
		}

		// do we need to make a 16px triangle for the median ?
		// $width: $width/sqrt(2);
		// $height: $height/sqrt(2);
	}
	// width is divided by 2 because it's used twice !
	$width: $width/2;

	width: 0;
	height: 0;

	@if ($direction == top)
	{
		// border-top
		border-right: $width solid transparent;
		border-bottom: $height solid $color;
		border-left: $width solid transparent;
	}
	@else if ($direction == bottom)
	{
		border-top: $height solid $color;
		border-right: $width solid transparent;
		// border-bottom
		border-left: $width solid transparent;
	}
	@else if ($direction == left)
	{
		border-top: $width solid transparent;
		border-right: $height solid $color;
		border-bottom: $width solid transparent;
		// border-left
	}
	@else if ($direction == right)
	{
		border-top: $width solid transparent;
		// border-right
		border-bottom: $width solid transparent;
		border-left: $height solid $color;
	}
	@else if ($direction == top-left)
	{
		border-top: $height solid $color;
		border-right: $width solid transparent;
		border-bottom: $height solid transparent;
		border-left: $width solid $color;
	}
	@else if ($direction == top-right)
	{
		border-top: $height solid $color;
		border-right: $width solid $color;
		border-bottom: $height solid transparent;
		border-left: $width solid transparent;
	}
	@else if ($direction == bottom-left)
	{
		border-top: $height solid transparent;
		border-right: $width solid transparent;
		border-bottom: $height solid $color;
		border-left: $width solid $color;
	}
	@else if ($direction == bottom-right)
	{
		border-top: $height solid transparent;
		border-right: $width solid $color;
		border-bottom: $height solid $color;
		border-left: $width solid transparent;
	}
	@else
	{
		// https://gist.github.com/1671259
		@warn "#{error("The direction used does not exist")}";
	}
}