/*
Syntax error: File to import not found or unreadable: tests.
              Load paths:
                /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes
                /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets
                /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets
                /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/stylesheets
                /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests
                Compass::SpriteImporter
        on line 1 of /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests/recipes/ui/button/s.scss

1: /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests/recipes/ui/button/s.scss

Backtrace:
/Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests/recipes/ui/button/s.scss:1
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/import_node.rb:64:in `import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/import_node.rb:62:in `import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/import_node.rb:25:in `imported_file'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:147:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:145:in `visit_import'
org/jruby/RubyKernel.java:2097:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2318:in `collect'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:29:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:49:in `visit_root'
org/jruby/RubyKernel.java:2097:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:20:in `visit'
org/jruby/RubyKernel.java:2097:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/engine.rb:305:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/engine.rb:253:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/util.rb:297:in `silence_sass_warnings'
/Library/Ruby/Gems/1.8/gems/sass-3.2.0.alpha.35/lib/sass/engine.rb:253:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `run'
org/jruby/RubyArray.java:1612:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:142:in `recompile'
src/compass_patch.rb:45:in `perform'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:73:in `run_callback'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:55:in `callback_action'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:39:in `delete'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:32:in `deleted'
org/jruby/RubyArray.java:1612:in `each'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:31:in `deleted'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:16:in `refresh'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
org/jruby/RubyArray.java:1612:in `each'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:17:in `run'
org/jruby/RubyArray.java:1612:in `each'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:16:in `run'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/rb-fsevent-0.4.0/lib/rb-fsevent/fsevent.rb:38:in `run'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/monitor.rb:26:in `run'
/Volumes/HD/Users/MoOx/Applications/Developer/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm.rb:20:in `monitor'
src/compass_patch.rb:37:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:371:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: tests.\A               Load paths:\A                 /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes\A                 /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets\A                 /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets\A                 /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/stylesheets\A                 /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests\A                 Compass::SpriteImporter\A         on line 1 of /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests/recipes/ui/button/s.scss\A \A 1: /Volumes/HD/Dropboxs/MoOx/Dropbox/Geek/Development/Repositories/Compass-Recipes/tests/recipes/ui/button/s.scss"; }
