@import "recipes/shape/polygon/square";
@import "recipes/utilities/relative-position";

.referent
{
	font-size: 2em;
	position: relative;
	@include square(10em, rgba(red, .5));
	margin: 5em auto;

	div
	{
		background: rgba(green, .5);
		font-size: .5em;
	}
}

.top { @include relative-position(top, 1em, 1em) }

.right { @include relative-position(right, 2em, .5em) }

.bottom { @include relative-position(bottom, .5em, 2em) }

.left { @include relative-position(left, 2em, 2em) }


.top-distanced { @include relative-position(top, 1em, 1em, $distance: 3em) }

.right-distanced { @include relative-position(right, 1em, 1em, $distance: 3em) }

.bottom-distanced { @include relative-position(bottom, 1em, 1em, $distance: 3em) }

.left-distanced { @include relative-position(left, 1em, 1em, $distance: 3em) }


.left-top { @include relative-position(left, 1em, 1em, top, 0) }

.right-top { @include relative-position(right, 1em, 1em, top, 0) }

.left-bottom { @include relative-position(left, 1em, 1em, bottom, 0) }

.right-bottom { @include relative-position(right, 1em, 1em, bottom, 0) }


.top-left-moved { @include relative-position(top, 1em, 1em, left, 10%) }

.top-right-moved { @include relative-position(top, 1em, 1em, right, 20%) }

.bottom-left-moved { @include relative-position(bottom, 1em, 1em, left, 20%) }

.bottom-right-moved { @include relative-position(bottom, 1em, 1em, right, 30%) }