@mixin cutout(
    $depth: 5px,
    $blur: 5px
)
{
    @include box-shadow(
        0 1px 0 rgba(255,255,255,.2),
        inset 0 $depth ($blur) rgba(0,0,0,.6),
        inset 0 1px $blur rgba(0,0,0,.6)
    );
}