@import "recipes/ui/border/bevel";


@mixin fancyElement($border-color: #006ea9, $border-color-active: #ffa43e, $line-height: 24px, $border-width: 1px, $border-width-active: 3px)
{
    color: #515151;
    font-size: 12px;

    line-height: $line-height;
    height: $line-height;
    outline: $border-width solid $border-color;
    border: $border-width-active - $border-width solid transparent;

    &:focus
    {
        outline: $border-width solid $border-color-active;
        @include fancyInputBorder($border-width-active - $border-width, $border-color-active);
    }
}

@mixin fancyInput($border-color: #006ea9, $border-color-active: #ffa43e, $line-height: 24px, $border-width: 1px, $border-width-active: 3px)
{

    background: -webkit-gradient(linear, left top, left 25%, from(#ebebeb), to(#fff) );
    background: -moz-linear-gradient(top, #ebebeb, #fff .25em);
    background: linear-gradient(top, #fff, #ebebeb, #fff .25em);
}

@mixin fancyForm($border-color: #006ea9, $border-color-active: #ffa43e, $line-height: 24px, $border-width: 1px, $border-width-active: 3px)
{
    input,
    textarea,
    select
    {
        @include fancyElement($border-color, $border-color-active, $line-height, $border-width, $border-width-active);
    }

    input,
    textarea
    {
        @include fancyInput($border-color, $border-color-active, $line-height, $border-width, $border-width-active);
    }

    button
    {
        @extend .button-blue;

        &:hover
        {
            @extend .button-orange;
        }
    }
}
