@charset "UTF-8";
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 28, ../../../src/recipes/reset/_html5boilerplate.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 38, ../../../src/recipes/reset/_html5boilerplate.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../src/recipes/reset/_html5boilerplate.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../../../src/recipes/reset/_html5boilerplate.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../../../src/recipes/reset/_html5boilerplate.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 49, ../../../src/recipes/reset/_html5boilerplate.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 51, ../../../src/recipes/reset/_html5boilerplate.scss */
del {
  text-decoration: line-through;
}

/* line 53, ../../../src/recipes/reset/_html5boilerplate.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 55, ../../../src/recipes/reset/_html5boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 57, ../../../src/recipes/reset/_html5boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 59, ../../../src/recipes/reset/_html5boilerplate.scss */
input, select {
  vertical-align: middle;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 66, ../../../src/recipes/reset/_html5boilerplate.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* line 67, ../../../src/recipes/reset/_html5boilerplate.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 71, ../../../src/recipes/reset/_html5boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
/* line 79, ../../../src/recipes/reset/_html5boilerplate.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 82, ../../../src/recipes/reset/_html5boilerplate.scss */
a:hover, a:active {
  outline: none;
}

/* line 84, ../../../src/recipes/reset/_html5boilerplate.scss */
ul, ol {
  margin-left: 2em;
}

/* line 85, ../../../src/recipes/reset/_html5boilerplate.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 88, ../../../src/recipes/reset/_html5boilerplate.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 90, ../../../src/recipes/reset/_html5boilerplate.scss */
small {
  font-size: 85%;
}

/* line 91, ../../../src/recipes/reset/_html5boilerplate.scss */
strong, th {
  font-weight: bold;
}

/* line 93, ../../../src/recipes/reset/_html5boilerplate.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 96, ../../../src/recipes/reset/_html5boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 97, ../../../src/recipes/reset/_html5boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 98, ../../../src/recipes/reset/_html5boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 100, ../../../src/recipes/reset/_html5boilerplate.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 106, ../../../src/recipes/reset/_html5boilerplate.scss */
textarea {
  overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* line 108, ../../../src/recipes/reset/_html5boilerplate.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 111, ../../../src/recipes/reset/_html5boilerplate.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 112, ../../../src/recipes/reset/_html5boilerplate.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 113, ../../../src/recipes/reset/_html5boilerplate.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 114, ../../../src/recipes/reset/_html5boilerplate.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
/* line 117, ../../../src/recipes/reset/_html5boilerplate.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 120, ../../../src/recipes/reset/_html5boilerplate.scss */
button, input, select, textarea {
  margin: 0;
}

/* Colors for form validity */
/* line 124, ../../../src/recipes/reset/_html5boilerplate.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 127, ../../../src/recipes/reset/_html5boilerplate.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 133, ../../../src/recipes/reset/_html5boilerplate.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 134, ../../../src/recipes/reset/_html5boilerplate.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
/* line 137, ../../../src/recipes/reset/_html5boilerplate.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 141, ../../../src/recipes/reset/_html5boilerplate.scss */
button {
  width: auto;
  overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 145, ../../../src/recipes/reset/_html5boilerplate.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
/* line 151, ../../../src/recipes/reset/_html5boilerplate.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
/* line 159, ../../../src/recipes/reset/_html5boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 161, ../../../src/recipes/reset/_html5boilerplate.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 162, ../../../src/recipes/reset/_html5boilerplate.scss */
a:hover {
  color: #036;
}

/**
 * Primary styles
 *
 * Author: 
 */
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
/* line 191, ../../../src/recipes/reset/_html5boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 195, ../../../src/recipes/reset/_html5boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 199, ../../../src/recipes/reset/_html5boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 202, ../../../src/recipes/reset/_html5boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 205, ../../../src/recipes/reset/_html5boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
/* line 209, ../../../src/recipes/reset/_html5boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 210, ../../../src/recipes/reset/_html5boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 212, ../../../src/recipes/reset/_html5boilerplate.scss */
.clearfix {
  zoom: 1;
}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 248, ../../../src/recipes/reset/_html5boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 250, ../../../src/recipes/reset/_html5boilerplate.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 251, ../../../src/recipes/reset/_html5boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 252, ../../../src/recipes/reset/_html5boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 253, ../../../src/recipes/reset/_html5boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 254, ../../../src/recipes/reset/_html5boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 255, ../../../src/recipes/reset/_html5boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 256, ../../../src/recipes/reset/_html5boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 258, ../../../src/recipes/reset/_html5boilerplate.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 259, ../../../src/recipes/reset/_html5boilerplate.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 5, ../../_tests.scss */
html {
  padding: 1em;
  background:  no-repeat;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #ffffff)) no-repeat;
  background: -moz-linear-gradient(#dddddd, #ffffff) no-repeat;
  background: linear-gradient(#dddddd, #ffffff) no-repeat;
}

/* line 11, ../../_tests.scss */
h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* line 17, ../../_tests.scss */
h2 {
  font-size: 1.4em;
  margin-bottom: .6em;
}

/* line 23, ../../_tests.scss */
p.doc {
  background: #fff;
  border: #ddd;
  padding: 1em;
  color: #bbb;
  margin: 1em;
  font-style: italic;
}
/* line 32, ../../_tests.scss */
p.doc a {
  color: #999;
}

/**
 * Corner folded with pure CSS
 * 
 * Known support: Firefox 3.5+, Chrome 4+, Safari 4+, Opera 10+, IE 9+.
 * IE8 is not supported because it not render properly box-shadow and
 * pseudo element should be selected with ::element and not :element
 * 
 * @thanks to Nicolas Gallagher
 * @link http://nicolasgallagher.com/pure-css-folded-corner-effect/demo/
 */
/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
/* line 8, s.scss */
.wrapper {
  background: #fff;
  padding: 1em;
}

/* line 17, s.scss */
.corner-folded-top-left,
.corner-folded-top-right,
.corner-folded-bottom-left,
.corner-folded-bottom-right {
  background: #ddd;
  width: 400px;
  height: 200px;
  margin: auto;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
}

/* line 26, s.scss */
.corner-folded-top-left {
  position: relative;
  overflow: hidden;
}
/* line 20, ../../../src/recipes/enhancements/_corner-folded.scss */
.corner-folded-top-left::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  top: 0;
  left: 0;
  border-width: 1em 1em 0 0;
  border-color: white #dddddd;
  -moz-border-radius: 0 0 0.3em 0;
  -webkit-border-radius: 0 0 0.3em 0;
  -o-border-radius: 0 0 0.3em 0;
  -ms-border-radius: 0 0 0.3em 0;
  -khtml-border-radius: 0 0 0.3em 0;
  border-radius: 0 0 0.3em 0;
}

/* line 31, s.scss */
.corner-folded-top-right {
  position: relative;
  overflow: hidden;
}
/* line 20, ../../../src/recipes/enhancements/_corner-folded.scss */
.corner-folded-top-right::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  top: 0;
  right: 0;
  border-width: 0 1em 1em 0;
  border-color: #dddddd white;
  -moz-border-radius: 0 0 0 0.3em;
  -webkit-border-radius: 0 0 0 0.3em;
  -o-border-radius: 0 0 0 0.3em;
  -ms-border-radius: 0 0 0 0.3em;
  -khtml-border-radius: 0 0 0 0.3em;
  border-radius: 0 0 0 0.3em;
}

/* line 36, s.scss */
.corner-folded-bottom-left {
  position: relative;
  overflow: hidden;
}
/* line 20, ../../../src/recipes/enhancements/_corner-folded.scss */
.corner-folded-bottom-left::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  bottom: 0;
  left: 0;
  border-width: 1em 0 0 1em;
  border-color: #dddddd white;
  -moz-border-radius: 0 0.3em 0 0;
  -webkit-border-radius: 0 0.3em 0 0;
  -o-border-radius: 0 0.3em 0 0;
  -ms-border-radius: 0 0.3em 0 0;
  -khtml-border-radius: 0 0.3em 0 0;
  border-radius: 0 0.3em 0 0;
}

/* line 41, s.scss */
.corner-folded-bottom-right {
  position: relative;
  overflow: hidden;
}
/* line 20, ../../../src/recipes/enhancements/_corner-folded.scss */
.corner-folded-bottom-right::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6em;
  bottom: 0;
  right: 0;
  border-width: 0 0 1em 1em;
  border-color: white #dddddd;
  -moz-border-radius: 0.3em 0 0 0;
  -webkit-border-radius: 0.3em 0 0 0;
  -o-border-radius: 0.3em 0 0 0;
  -ms-border-radius: 0.3em 0 0 0;
  -khtml-border-radius: 0.3em 0 0 0;
  border-radius: 0.3em 0 0 0;
}
