@charset "utf-8";
@import "compass";
@import "recipes";
@import "normalize";

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 1em;
    background: #eee;
    @include background-blueprint-grid(#ccc);
}

.doc {
    background: rgba(#fff, .95);
    padding: 1em;
    margin: 1em 0;
    font-style: italic;
    font-size: .8em;

    @include border-radius(.2em);
    box-shadow: 0 .1em .2em rgba(#000, .6);

    &,
    a {
        color: rgba(#000, .5);
        &:hover { color: rgba(#000, .7); }
    }
}