@import "effect/bevel";
@import "effect/corner-folded";
@import "effect/corners-tucked";
@import "effect/cutout";
@import "effect/folded-corner";
@import "effect/glass";
@import "effect/ribbon";
@import "effect/scatter";
@import "effect/tape";