// cleverButtons by Olivier Lacan & Andrew Smith (http://clevercode.net)
@mixin cleverbutton($radius: 5px, $textcolor: white, $from: #aaa, $to: #666, $edge: "glow") {
  // non-adjustable settings for padding
  padding: 0 1.4em;
  line-height: 2.3;
  display: inline-block;
  
  // in case you want to make buttons with non anchor elements
  cursor: pointer;
  
  @include background(linear-gradient($from, $to));

  @if $edge == "glow" {
    @include box-shadow(rgba(0,0,0,.6) 0 .1em .1em, inset rgba(255,255,255,.9) 0px .1em .1em);
  }
  @if $edge == "stark" {
    @include box-shadow(inset rgba(0,0,0,.5) 0 -.05em .03em, inset transparentize(darken($to, 5%), .5) 0 0 .02em .2em, inset rgba(0,0,0,.4) 0 0 .5em, rgba(0,0,0,.4) 0 0 .01em .01em);
  }
  @if $edge == "3D" {
    @include box-shadow(inset rgba(255,255,255,.8) 0 .05em .1em, rgba(0,0,0,.9) 0 .2em .05em, inset rgba(0,0,0,.6) 0 0 .1em);
  }
  @if $edge == "press" {
    @include box-shadow(darken(saturate($from, 10%), 20%) 0 0 5px inset, transparentize(white, .2) 0 2px 7px inset, darken($to, 30%) 0 1px 2px) 
  }
  
  // making sure IE gets at least a border
  @include border-radius($radius);

  $is_light: lightness($textcolor) > 50%;

  $dark_shadow_color: darken($textcolor,100%);
  $light_shadow_color: lighten($textcolor,100%);

  @if $is_light {
    @include text-shadow(transparentize($dark_shadow_color, .4) 0 1px .01em);
  }
  @if $is_light == false {
    @include text-shadow(transparentize($light_shadow_color, .4) 0 1px .01em);
  }

  &, &:hover, &:focus, &:active {
    color: $textcolor;
    text-decoration: none;
  }

  &:hover, &:focus {
    @include background(linear-gradient(darken($from, 5%), darken($to, 5%)));
    // include $edge specific styles in an @if block, see example bellow:
    @if $edge == "stark" {
      @include box-shadow(inset transparentize(saturate(darken($to, 10%), 100%), .4) 0 0 .02em .2em, inset rgba(0,0,0,.8) 0 -.1em .1em, inset rgba(0,0,0,.4) 0 0 .5em, rgba(0,0,0,.4) 0 0 .01em .01em);
    }
  }
    
  &:active {
    @include background(linear-gradient($to, $from));
    
    @if $is_light {
      @include text-shadow(transparentize($dark_shadow_color, .4) 0 -1px .01em);
    }
    @if $is_light == false {
      @include text-shadow(transparentize($light_shadow_color, .4) 0 -1px .01em);
    }
    @if $edge == "stark" {
      @include box-shadow(inset rgba(0,0,0,.5) 0 .05em .03em, inset transparentize(darken($to, 20%), .7) 0 0 .02em .2em, inset rgba(255,255,255,.4) 0 0 .1em);
    }
    @if $edge == "3D" {
      @include box-shadow(rgba(0,0,0,.7) 0 .05em .15em, inset rgba(0,0,0,1) 0 0 .1em);
      @include transform(translateY(.2em));
    }
    @if $edge == "press" {
      @include text-shadow(rgba(0,0,0,0.5) 0 .1em .1em, darken($from, 10%) .05em .05em 0);
      @include box-shadow(rgba(0,0,0,.7) 0 .1em .2em inset, rgba(0,0,0,.5) 0 -.1em .15em inset);
    }
  }
}

