@import "recipes/shape/polygon/square";
@import "recipes/utilities/position";

.referent
{
	font-size: 2em;
	position: relative;
	@include square(10em, rgba(red, .5));
	margin: 5em auto;

	div
	{
		background: rgba(green, .5);
		font-size: .5em;
	}
}

.top-left { @include top-left }
.top-right { @include top-right }
.bottom-left { @include bottom-left }
.bottom-right { @include bottom-right }

.top-left-alt { @include top-left(1em, 10%) }
.top-right-alt { @include top-right(-20%, 20px) }
.bottom-left-alt { @include bottom-left(50px, 2em) }
.bottom-right-alt { @include bottom-right(0, 60pt) }