@charset "utf-8"; // require for the pulse loader characters
@import "compass/css3";
@import "recipes/ui/loader/pulse";

.ui-loader-pulse
{
    @include ui-loader-pulse;

    margin: 0 auto;
}

.wrap
{
    background: #000;
    margin: 2em;
    padding: 2em;
}

.ui-loader-pulse.white
{
    @include ui-loader-pulse($pulse-color: rgba(#fff, .8), $pulse-color-alt: rgba(#fff, 0));
}

@include ui-loader-pulse-effect-animation();

@include ui-loader-pulse-content-animation();

