.glass,
.glass-blue {
  margin: 20px auto;
}

.glass {
  position: relative;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #000;
  width: 400px;
  height: 400px;
}
.glass:after {
  content: "";
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.72) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.72) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  box-shadow: inset rgba(255, 255, 255, 0.72) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
}

.glass-blue {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  background: black url(http://lorempixel.com/100/100/) no-repeat;
}
.glass-blue:after {
  content: "";
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.85) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.85) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  box-shadow: inset rgba(255, 255, 255, 0.85) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  background: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.19) 40%, rgba(255, 255, 255, 0) 41%);
  background: -moz-linear-gradient(-60deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.19) 40%, rgba(255, 255, 255, 0) 41%);
  background: -o-linear-gradient(-60deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.19) 40%, rgba(255, 255, 255, 0) 41%);
  background: linear-gradient(-60deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.19) 40%, rgba(255, 255, 255, 0) 41%);
}
