@import "compass/css3";
@import "recipes/effect/glass";

.glass,
.glass-blue
{
    margin: 20px auto;
}

.glass
{
    @include effect-glass;
    background: #000;
    width: 400px;
    height: 400px;
}

.glass-blue
{
    width: 100px;
    height: 100px;
    @include effect-glass(#fff, -20deg, .6em);
    background: #000 url(http://lorempixel.com/100/100/) no-repeat;
}