@import "compass/css3";
@import "recipes/effect/glass";

.glass,
.glass-blue
{
    margin: 20px auto;
}

.glass
{
    @include effect-glass;
    background: #000;
    width: 400px;
    height: 400px;
}

.glass-blue
{
    width: 100px;
    height: 100px;
    @include effect-glass(
        $color: rgba(#fff, .25),
        $reflectDegree: -60deg,
        $border-radius: .3em,
        $size: 40%,
        $size-fadeout: 1%
    );
    background: #000 url(http://lorempixel.com/100/100/) no-repeat;
}