/**
 * prism.js Monokai Soda theme for CSS & Scss
 * // TODO test for JavaScript & HTML
 *
 * @author @MoOx
 */

$prism-font-family: 	Menlo, Monaco, "Courier New", monospace	!default;
$prism-font-size: 		12px !default;
$prism-padding: 		12px !default;
$prism-line-height:		18px !default;
$prism-border-radius: 	5px !default;
$prism-border: 			1px solid #e1e1e8 !default;
$prism-background: 		#2a2a2a !default;
$prism-color: 			#76d9e6 !default;
$prism-color-neutral:	#bebec5 !default;
$prism-text-shadow: 	0 1px 0 #000 !default;

// $prism-linenums-padding:		7px !default;
// $prism-linenums-width: 			40px !default;
// $prism-linenums-background:		#444 !default;
// $prism-linenums-border-color:	#555 !default;
// $prism-linenums-border-width:	1px !default;

$prism-color-comment:		#6f705e	!default;
$prism-color-keyword:		#f12770	!default;
$prism-color-value:			#76d9e6	!default;
$prism-color-string:		#e6d06c	!default;
$prism-color-name:			#e6d06c	!default;
$prism-color-number:		#a77afe	!default;
$prism-color-variable:		#fff	!default;
$prism-color-selector:		#a6e22d	!default;
$prism-color-punctuation:	$prism-color-neutral !default;
//$prism-color-funtion:	#dc322f	!default;


code[class*="language-"],
pre[class*="language-"] {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	// whitespace management
	white-space: pre; // fallback
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;

	// theme
	font-family: $prism-font-family;
	font-size: 	$prism-font-size;
	line-height: $prism-line-height;

	color: $prism-color;
	text-shadow: $prism-text-shadow;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: $prism-background;
}

// Code blocks
pre[class*="language-"] {
	padding: $prism-padding;
	@include border-radius($prism-border-radius);
	border: $prism-border;

	// &.linenums {
	// 	@include box-shadow(inset $prettify-linenums-width 0 0 $prettify-linenums-background, inset ($prettify-linenums-width + $prettify-linenums-border-width) 0 0 $prettify-linenums-border-color);
	// 	padding-left: $prettify-linenums-padding;
	// }

	// // Specify class=linenums on a pre to get line numbering
	// ol.linenums {
	// 	// IE indents via margin-left
	// 	margin: 0 0 0 $prettify-linenums-width;
	// 	padding-left: 0;
	// }
}

// Inline code
:not(pre) > code[class*="language-"] {
	padding: .15em .2em .05em;
	border-radius: .3em;
	border: .13em solid hsl(30,20%,40%);
	box-shadow: 1px 1px .3em -.1em black inset;
}

.namespace {
	opacity: .7;
}

.token {
	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: $prism-color-comment;
	}

	&.null,
	&.operator,
	&.boolean,
	&.number {
		color: $prism-color-number;
	}

	&.attr-name,
	&.string {
		color: $prism-color-string;
	}

	&.entity,
	&.url,
	.language-css &.string,
	.style &.string {
		color: $prism-color-string;
	}

	&.selector {
		color: $prism-color-selector;
	}

	&.atrule,
	&.attr-value,
	&.keyword,
	&.control,
	&.directive,
	&.important,
	&.unit {
		color: $prism-color-keyword;
	}

	&.regex,
	&.statement {
		color: $prism-color-value;
	}

	&.placeholder,
	&.variable {
		color: $prism-color-variable;
	}

	&.property,
	&.tag {
		font-style: italic;
	}

	&.important,
	&.statement {
		font-weight: bold;
	}

	// todo ?
	// &.mixin
	// &.gradient
	// &.abslength
	// &.easing
	// &.time
	// &.angle
	// &.fontfamily

	// ruby/vim https://github.com/LeaVerou/prism/pull/18
	// &.inst-var
	// &.builtin
	// &.const
	// &.symbol
	//
	// php https://github.com/LeaVerou/prism/pull/20
	// &.deliminator
	// &.function

	&.punctuation {
		color: $prism-color-punctuation;
	}

	&.entity {
		cursor: help;
	}

	// for dev :)
	&.debug { color: red }
}
