/**
 * Background noise recipe
 *
 * This recipe use a sass function to generate a .png file
 *
 * Inspired by a jQuery plugin "Noisy" by Daniel Rapp @DanielRapp
 * @link https://github.com/DanielRapp/Noisy
 *
 * Converted using Sass by Aaron Russell @aaronrussell & Philipp Bosch @philippbosch
 * @link https://gist.github.com/1021332
 *
 * Ported to a sass gem by Antti Salonen @antsa
 * @link https://github.com/antsa/sassy_noise
 *
 * Mixin:        background-noise
 * Function:     background_noise
 *
 * @author Daniel Rapp @DanielRapp
 * @author Aaron Russell @aaronrussell
 * @author Philipp Bosch @philippbosch
 * @author Antti Salonen @antsa
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx
 */
/**
 *
 * @class Gradients
 * @author David Kaneda http://www.davidkaneda.com/
 *
 */
/**
 * Adds a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * Blueprint grid background pattern
 *
 * @link http://lea.verou.me/css3patterns/#blueprint-grid
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Background overlay inspired by Google Chrome modal overlay
 * 
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
/**
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#tartan
 *
 * @author Marta Armada http://swwweet.com/ for the original pattern
 * @author Maxime Thirouin maxime.thirouin@gmail.com @MoOx for the sass mixin
 */
/**
 * Carbon Fiber background pattern
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com/ for the Sass mixin
 *
 * @link http://lea.verou.me/css3patterns/
 *
 */
/**
 * Striped background patterns
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#horizontal-stripes
 * @link http://lea.verou.me/css3patterns/#vertical-stripes
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Cicada background pattern
 *
 * @link http://lea.verou.me/css3patterns/#cicada-stripes
 *
 * @author Randy Merril http://forthedeveloper.com/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Tablecloth background pattern
 *
 * @link http://lea.verou.me/css3patterns/#tablecloth
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Lined paper background pattern
 *
 * @link http://lea.verou.me/css3patterns/#lined-paper
 *
 * @author Sarah Backhouse http://www.jadu.net/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Madras background pattern
 *
 * Before compass 0.11.5, you need to add
 * Compass::BrowserSupport.add_support("repeating-linear-gradient", "webkit", "moz", "o", "ms")
 * To your configuration (config.rb)
 * @see https://github.com/chriseppstein/compass/issues/401
 *
 * @link http://lea.verou.me/css3patterns/#madras
 *
 * @author Divya Manian http://nimbupani.com/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * Checkerboard background pattern
 *
 * @link http://lea.verou.me/css3patterns/#checkerboard
 * @link http://lea.verou.me/css3patterns/#diagonal-checkerboard
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Houndstooth background pattern
 *
 * @link http://lea.verou.me/css3patterns/#houndstooth
 *
 * @author Antoine Bernier http://abernier.name for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 *
 * Polkadot background pattern
 *
 * @link http://lea.verou.me/css3patterns/#polka-dot
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author Mason Wendell mason@canarypromo.com @canarymason for the sass mixin
 */
/**
 * <hr /> separator style
 *
 * @author Chris Coyier @chriscoyier
 * @link http://jsfiddle.net/chriscoyier/GaEzp/35/
 *
 * @author Maxime Thirouin @MoOx maxime.thirouin@gmail.com
 */
hr {
  margin: 5em 0;
}

.ui-separator-gradient {
  border: 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.ui-separator-gradient-2 {
  border: 0;
  height: 1px;
  background: #333333;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cccccc), color-stop(50%, #333333), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(left, #cccccc, #333333, #cccccc);
  background: -moz-linear-gradient(left, #cccccc, #333333, #cccccc);
  background: -o-linear-gradient(left, #cccccc, #333333, #cccccc);
  background: -ms-linear-gradient(left, #cccccc, #333333, #cccccc);
  background: linear-gradient(left, #cccccc, #333333, #cccccc);
}

.ui-separator-gradient-3 {
  border: 0;
  height: 1px;
  background: #cccccc;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #333333), color-stop(50%, #cccccc), color-stop(100%, #333333));
  background: -webkit-linear-gradient(left, #333333, #cccccc, #333333);
  background: -moz-linear-gradient(left, #333333, #cccccc, #333333);
  background: -o-linear-gradient(left, #333333, #cccccc, #333333);
  background: -ms-linear-gradient(left, #333333, #cccccc, #333333);
  background: linear-gradient(left, #333333, #cccccc, #333333);
}

.ui-separator-dashed {
  border: 0;
  border-bottom: 1px dashed #cccccc;
  background: #999999;
}

.ui-separator-dashed-2 {
  border: 0;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.7);
  background: white;
}

.ui-separator-dropshadow {
  border: 0;
  height: 6px;
  box-shadow: inset 0 6px 6px -6px black;
}

.ui-separator-dropshadow-2 {
  border: 0;
  height: 0.8em;
  box-shadow: inset 0 0.8em 0.8em -0.8em #cccccc;
}

.ui-separator-shadow {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}

.ui-separator-shadow-2 {
  border: 0;
  height: 0;
  box-shadow: 0 0 0.4em 0.1em #aaaaaa;
}
