.sprite-item-1 {
  background: url('../../../images/sprite-s75126c5d8d.png') 0 0 no-repeat;
}

.sprite-item-2 {
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -192px no-repeat;
}

.sprite-item-3 {
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -64px no-repeat;
}

.sprite-item-4 {
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -128px no-repeat;
}

.sprite-item-with-dimensions-1 {
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 0 no-repeat;
}

.sprite-item-with-dimensions-2 {
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -192px no-repeat;
}

.sprite-item-with-dimensions-3 {
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -64px no-repeat;
}

.sprite-item-with-dimensions-4 {
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -128px no-repeat;
}

.sprite-item-replacement-1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 0 no-repeat;
}

.sprite-item-replacement-2 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -192px no-repeat;
}

.sprite-item-replacement-3 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -64px no-repeat;
}

.sprite-item-replacement-4 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 64px;
  height: 64px;
  background: url('../../../images/sprite-s75126c5d8d.png') 0 -128px no-repeat;
}
