div {
  background: #000;
  margin: 4em auto;
}

.circle {
  width: 10em;
  height: 10em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}

.ellipse-h {
  width: 20em;
  height: 10em;
  -webkit-border-radius: 10em 5em;
  -moz-border-radius: 10em / 5em;
  border-radius: 10em / 5em;
}

.ellipse-v {
  width: 10em;
  height: 20em;
  -webkit-border-radius: 5em 10em;
  -moz-border-radius: 5em / 10em;
  border-radius: 5em / 10em;
}

.ellipse-nw {
  width: 20em;
  height: 10em;
  -webkit-border-radius: 10em 5em;
  -moz-border-radius: 10em / 5em;
  border-radius: 10em / 5em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
