body {
  background: #eeeeee;
}

.tucked-corners, .taped-corners {
  width: 300px;
  margin: 4em auto 8em;
  background-color: #BADA55;
}
.tucked-corners .bottom-corners, .taped-corners .bottom-corners {
  padding: 0.5em 1em;
}

.tucked-corners {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
.tucked-corners:after, .tucked-corners:before, .tucked-corners span.bottom-corners:after, .tucked-corners span.bottom-corners:before {
  position: absolute;
  content: "";
  z-index: 10;
  background: #eeeeee;
  height: 50px;
  width: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 6px 9px -8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 6px 9px -8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 6px 9px -8px;
}
.tucked-corners:after {
  top: -25px;
  left: -50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tucked-corners:before {
  top: -25px;
  right: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tucked-corners span.bottom-corners {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tucked-corners span.bottom-corners:after {
  bottom: -25px;
  left: -50px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.tucked-corners span.bottom-corners:before {
  bottom: -25px;
  right: -50px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.taped-corners {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.taped-corners:after, .taped-corners:before, .taped-corners span.bottom-corners:after, .taped-corners span.bottom-corners:before {
  position: absolute;
  content: "";
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  height: 50px;
  width: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 6px 9px -8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 6px 9px -8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 6px 9px -8px;
}
.taped-corners:after {
  top: -25px;
  left: -50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.taped-corners:before {
  top: -25px;
  right: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.taped-corners span.bottom-corners {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.taped-corners span.bottom-corners:after {
  bottom: -25px;
  left: -50px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.taped-corners span.bottom-corners:before {
  bottom: -25px;
  right: -50px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
