div {
  font-size: 3em;
  font-weight: bold;
}

.text-gradient-bevel {
  color: #62bbe1;
  background: -webkit-linear-gradient(top, #a2d7ed, #84cae8 30%, #62bbe1 65%, #48b0dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-gradient-glossy {
  color: #62bbe1;
  background: -webkit-linear-gradient(top, #a2d7ed, #77c4e5 50%, #62bbe1 51%, #4db2dd);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-gradient-matte {
  color: #62bbe1;
  background: -webkit-linear-gradient(top, #a2d7ed, #77c4e5 3%, #4db2dd);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-gradient-recessed {
  color: #62bbe1;
  background: -webkit-linear-gradient(top, #37a8d9, #4db2dd 10%, #62bbe1 65%, #64bce1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
