@import "recipes/text";

div {
	font-size: 3em;
	font-weight: bold;
}

$test-color: #62BBE1;

.text-gradient-bevel {
	@include text-gradient($test-color, bevel);
}

.text-gradient-glossy {
	@include text-gradient($test-color, glossy);
}

.text-gradient-matte {
	@include text-gradient($test-color, matte);
}

.text-gradient-recessed {
	@include text-gradient($test-color, recessed);
}