html {
  padding: 1em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #ffffff)) no-repeat;
  background: -webkit-linear-gradient(#dddddd, #ffffff) no-repeat;
  background: -moz-linear-gradient(#dddddd, #ffffff) no-repeat;
  background: -o-linear-gradient(#dddddd, #ffffff) no-repeat;
  background: linear-gradient(#dddddd, #ffffff) no-repeat;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: .6em;
}

p.doc {
  background: #fff;
  border: #ddd;
  padding: 1em;
  color: #bbb;
  margin: 1em;
  font-style: italic;
}
p.doc a {
  color: #999;
}

/**
 * Glass effect
 * Use this on image for better effect render
 * 
 * Inspired from Simurai's Imdb redisign
 *
 * @link http://lab.simurai.com/redesign/imdb
 * @thanks Simurai @simurai
 */
.glass,
.glass-blue {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background: #000;
}

.glass {
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.glass:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: transparent solid 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset white 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 5px 10px;
  -webkit-box-shadow: inset white 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 5px 10px;
  -o-box-shadow: inset white 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 5px 10px;
  box-shadow: inset white 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 5px 10px;
  background: -webkit-gradient(linear, -45deg, -45deg, color-stop(50%, rgba(255, 255, 255, 0.12)), color-stop(50.5%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0) 50.5%);
}

.glass-blue {
  position: relative;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}
.glass-blue:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: transparent solid 1px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: inset #ddddff 0 0 2px, inset rgba(221, 221, 255, 0.4) 0 5px 10px;
  -webkit-box-shadow: inset #ddddff 0 0 2px, inset rgba(221, 221, 255, 0.4) 0 5px 10px;
  -o-box-shadow: inset #ddddff 0 0 2px, inset rgba(221, 221, 255, 0.4) 0 5px 10px;
  box-shadow: inset #ddddff 0 0 2px, inset rgba(221, 221, 255, 0.4) 0 5px 10px;
  background: -webkit-gradient(linear, -20deg, -20deg, color-stop(50%, rgba(221, 221, 255, 0.12)), color-stop(50.5%, rgba(221, 221, 255, 0)));
  background: -webkit-linear-gradient(-20deg, rgba(221, 221, 255, 0.12) 50%, rgba(221, 221, 255, 0) 50.5%);
  background: -moz-linear-gradient(-20deg, rgba(221, 221, 255, 0.12) 50%, rgba(221, 221, 255, 0) 50.5%);
  background: -o-linear-gradient(-20deg, rgba(221, 221, 255, 0.12) 50%, rgba(221, 221, 255, 0) 50.5%);
  background: linear-gradient(-20deg, rgba(221, 221, 255, 0.12) 50%, rgba(221, 221, 255, 0) 50.5%);
}
