.triangle-top {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid black;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid black;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-right: 1em solid black;
  border-bottom: 1em solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 1em solid black;
  border-bottom: 1em solid transparent;
}

.triangle-top-left {
  width: 0;
  height: 0;
  border-top: 1em solid black;
  border-bottom: 1em solid transparent;
  border-left: 1em solid black;
  border-right: 1em solid transparent;
}

.triangle-top-right {
  width: 0;
  height: 0;
  border-top: 1em solid black;
  border-bottom: 1em solid transparent;
  border-left: 1em solid transparent;
  border-right: 1em solid black;
}

.triangle-bottom-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid black;
  border-left: 1em solid black;
  border-right: 1em solid transparent;
}

.triangle-bottom-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 1em solid transparent;
  border-bottom: 1em solid black;
  border-right: 1em solid black;
}
