.triangle-top {
  width: 0;
  height: 0;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid transparent;
}

.triangle-top-auto {
  width: 0;
  height: 0;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid black;
  border-left: 0.5em solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid black;
}

.triangle-right-auto {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid black;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
}

.triangle-bottom-auto {
  width: 0;
  height: 0;
  border-top: 1em solid black;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid black;
  border-bottom: 0.5em solid transparent;
}

.triangle-left-auto {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 1em solid black;
  border-bottom: 0.5em solid transparent;
}

.triangle-top-left {
  width: 0;
  height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid black;
}

.triangle-top-left-auto {
  width: 0;
  height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid black;
}

.triangle-top-right {
  width: 0;
  height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em solid black;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
}

.triangle-top-right-auto {
  width: 0;
  height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em solid black;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
}

.triangle-bottom-left {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid black;
}

.triangle-bottom-left-auto {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid black;
}

.triangle-bottom-right {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid black;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid transparent;
}

.triangle-bottom-right-auto {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid black;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid transparent;
}
