.image {
  background-image: url('../../images/test.jpg?1345441599');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-with-dimensions {
  background-image: url('../../images/test.jpg?1345441599');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 640px;
  height: 458px;
}

.image-with-dimensions-line-height {
  background-image: url('../../images/test.jpg?1345441599');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 640px;
  height: 458px;
  line-height: 458px;
}

.image-replace-text {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../../images/test.jpg?1345441599');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-replace-text-with-dimensions {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../../images/test.jpg?1345441599');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 640px;
  height: 458px;
}
