////
// Shape/Ellipse
//
// @author Maxime Thirouin m@moox.fr @MoOx
///

@import "compass/css3/border-radius";

@mixin ellipse($width: 200px, $height: 100px, $border-width:0px)
{
    width: $width - $border-width*2;
    height: $height - $border-width*2;
    
    @if ($width == $height) {
        @include border-radius($width/2);
    }
    @else {
        @include border-radius($width/2, $height/2);
    }
}

@mixin circle($width: 100px, $border-width:0px)
{
    @include ellipse($width, $width, $border-width);
}
