@import "recipes/layout/vertical-align/block";

// Simple vertical align mixin
// Parent must have the same height & line-height. It's does the trick
// (use vertical-align-parent-height() mixin)
// $line-height - original line-height to set back
// $vertical-align - vertical align wanted
// $text-align - optional text-align, can be set to null if not wanted
@mixin vertical-align($line-height: 1, $vertical-align: middle, $text-align: center)
{
	display: inline-block;
	line-height: $line-height;
	vertical-align: $vertical-align;
	@if ($text-align != null)
	{
		text-align: $text-align;
	}
}

@mixin vertical-align-parent-height($height)
{
	height: $height;
	line-height: $height;
}