@import "tests";

@import "recipes/shadow";

div
{
    width: 15em;
    height: 10em;
    margin: 5em auto;
    background: #eee;
    border: 1px solid #ccc;

    p
    {
        padding: 3em 0;
        text-align: center;
    }
}

.drop-lifted-corners
{
    @include drop-shadow-lifted-corners;
}