@import "recipes/color/scheme";

@import "compass/css3";
@import "recipes/shape/polygon";
@import "recipes/utilities/position";

$main-color: #663333;

.colors
{
	div
	{
		display: inline-block;
		@include rectangle(4em, 6em);

		position: relative;
		span
		{
			@include position(absolute, null, 0, 0, 0);
			font-size: .8em;
			padding: .4em;
			color: #fff;
			@include background(linear-gradient(top, rgba(#000, 0), rgba(#000, .8)));
		}
	}

	.main-color { background: $main-color }

	.analog { background: analog-color($main-color) }
	.analog-alt { background: analog-color-alt($main-color) }

	.complementary { background: complementary-color($main-color) }
	.complementary-alt { background: complementary-color-alt($main-color) }
	.complementary-light { background: complementary-color-light($main-color) }
	.complementary-lighter { background: complementary-color-lighter($main-color) }

	.split { background: split-color($main-color) }
	.split-alt { background: split-color-alt($main-color) }

	.subtle-light { background: subtle-color-light($main-color) }
	.subtle-lighter { background: subtle-color-lighter($main-color) }
	.subtle-dark { background: subtle-color-dark($main-color) }
	.subtle-darker { background: subtle-color-darker($main-color) }

	.tetra { background: tetra-color($main-color) }
	.tetra-alt { background: tetra-color-alt($main-color) }

	.triad { background: triad-color($main-color) }
	.triad-alt { background: triad-color-alt($main-color) }
}