/**
 * Note IE7/6 doesn't understand pseudo element as ::before and ::after
 * IE8 need to have :before and not ::before
 * So use only : and not :: if you want to support IE8
 * IE9 Webkit Firefox Opera understand ::
 */
.gravatar {
  width: 64px;
  height: 64px;
  background-image: url(http://www.gravatar.com/avatar/d2a1c95e2af59538301c3ee6d2907f6f.png?rating=PG&size=64&default=);
  background-repeat: no-repeat;
  margin-left: 50px;
}
.gravatar::after {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(https://secure.gravatar.com/avatar/d2a1c95e2af59538301c3ee6d2907f6f.png?rating=PG&size=48&default=);
  background-repeat: no-repeat;
  position: relative;
  left: -50px;
}

.gravatar-using-pseudo:before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
