.sass-gravatar {
  width: 64px;
  height: 64px;
  background-image: url(http://www.gravatar.com/avatar/d2a1c95e2af59538301c3ee6d2907f6f.png?rating=PG&size=64&default=);
  background-repeat: no-repeat;
  margin-left: 50px;
}
.sass-gravatar::after {
  width: 48px;
  height: 48px;
  content: "";
  display: block;
  background-image: url(https://secure.gravatar.com/avatar/d2a1c95e2af59538301c3ee6d2907f6f.png?rating=PG&size=48&default=);
  background-repeat: no-repeat;
  position: relative;
  left: -50px;
}

.gravatar-before:before {
  width: 48px;
  height: 48px;
  content: "";
  display: block;
  background-repeat: no-repeat;
}

.gravatar-after:after {
  width: 48px;
  height: 48px;
  content: "";
  display: block;
  background-repeat: no-repeat;
}
