@import "compass/css3";


@mixin text-glow($color: #1dd5fe)
{
    text-shadow:
        0 .1em 0 lighten($color, 20%),
        0 0 0.2em darken($color, 5%),
        0 -0.15em 0.4em darken($color, 10%),
        0 -0.3em 0.6em darken($color, 20%);
}

@mixin chip-glow-pseudo-element($color: #1dd5fe)
{
    color: transparent;
    content: '●';
    @include text-glow($color);

    // place at bottom
    position: absolute;
    bottom: 0;
    left: 50%;
    $width: 12px;
    margin-left: -$width/2;
    width: $width;
    height: $width;

    // move & hide overflow
    line-height: $width*2;
    overflow: hidden;
}

@mixin chip-glow($color: #1dd5fe, $hover: false)
{
    position: relative;

    &:after
    {
        @include chip-glow-pseudo-element;
    }

    @if ($hover == true)
    {
        &:after
        {
            opacity: 0;
            @include transition(all .2s);
        }

        &:hover:after
        {
            opacity: 1;
        }
    }
}

.my-auto-share
{
    position: fixed;
    bottom: 1em;
    right: 1em;

    background: #000;
    background: rgba(#000, .8);
    @include background(linear-gradient(rgba(#000, .6), #000));
    @include border-radius(4px);
    @include box-shadow(#000 0px 10px 30px, rgba(#fff, .6) 0px 1px 0px inset);
    color: #fff;
    padding: 0 .6em;
    text-align: center;
    font: bold 13px HelveticaNeue, Helvetica, Arial;
    display: inline-block;
    text-shadow: #000 0px 1px 1px;
    border: 1px solid #000;
    vertical-align: middle;
    line-height: 3;
}

    .my-auto-share-btn
    {
        position: relative;
        display: inline-block; *display: inline !important;
        zoom: 1;
        margin-left: .6em;

        div,
        iframe
        {
            display: inline-block;
            vertical-align: middle !important;
        }

        @include chip-glow($hover: true);
    }