.ui-gradient-demo {
  width: 10em;
  height: 2em;
  margin: 1em auto;
}

.ui-gradient {
  background: #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background: linear-gradient(#f7f7f7, #c4c4c4);
}

.ui-gradient-top {
  background: #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#dddddd, #aaaaaa);
  background: -moz-linear-gradient(#dddddd, #aaaaaa);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  background: linear-gradient(#dddddd, #aaaaaa);
}

.ui-gradient-bottom {
  background: #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
}
