.avatar, .avatar1, .avatar2 {
  width: 100px;
  height: 100px;
  background-size: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  background: none center center no-repeat;
}

.avatar1 {
  background-image: url(http://a3.twimg.com/profile_images/1106236669/twitter_sharp.png);
}

.avatar2 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/1513955198/IMG_0853-cut.jpg);
}

.bevel-shadow {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -5px 0 rgba(0, 0, 0, 0.6), inset 0 -6px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -5px 0 rgba(0, 0, 0, 0.6), inset 0 -6px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -5px 0 rgba(0, 0, 0, 0.6), inset 0 -6px 0 rgba(255, 255, 255, 0.3);
}

.bevel-border {
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-top-color: rgba(71, 71, 71, 0.5);
  border-bottom-color: rgba(31, 31, 31, 0.5);
}

.bevel-shadow-soft {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8), inset 0 2px 2px rgba(255, 255, 255, 0.5), inset 0 -10px 2px rgba(0, 0, 0, 0.6), inset 0 -13px 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8), inset 0 2px 2px rgba(255, 255, 255, 0.5), inset 0 -10px 2px rgba(0, 0, 0, 0.6), inset 0 -13px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8), inset 0 2px 2px rgba(255, 255, 255, 0.5), inset 0 -10px 2px rgba(0, 0, 0, 0.6), inset 0 -13px 2px rgba(255, 255, 255, 0.3);
}
