div {
  color: #fff;
  text-shadow: 0 -0.1em 0.2em black;
  margin: 4em auto;
  text-align: center;
}

.star-5 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-right: 5em solid transparent;
  border-bottom: 3.5em solid black;
  border-left: 5em solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
.star-5:before, .star-5:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  z-index: -1;
}
.star-5:before {
  top: -2.25em;
  left: -3.25em;
  border-bottom: 4em solid black;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.star-5:after {
  top: 0.15em;
  left: -5.25em;
  border-right: 5em solid transparent;
  border-bottom: 3.5em solid black;
  border-left: 5em solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.star-5-2 {
  margin-top: 4em;
  margin-bottom: 4em;
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-right: 8em solid transparent;
  border-bottom: 5.6em solid black;
  border-left: 8em solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
.star-5-2:before, .star-5-2:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  z-index: -1;
}
.star-5-2:before {
  top: -3.6em;
  left: -5.2em;
  border-bottom: 6.4em solid black;
  border-left: 2.4em solid transparent;
  border-right: 2.4em solid transparent;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.star-5-2:after {
  top: 0.24em;
  left: -8.4em;
  border-right: 8em solid transparent;
  border-bottom: 5.6em solid black;
  border-left: 8em solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.star-6 {
  width: 0;
  height: 0;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  border-bottom: 5em solid black;
  position: relative;
  z-index: 0;
}
.star-6:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  border-top: 5em solid black;
  top: 1.5em;
  left: -2.5em;
}

.star-6-2 {
  width: 0;
  height: 0;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-bottom: 8em solid black;
  position: relative;
  z-index: 0;
}
.star-6-2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-top: 8em solid black;
  top: 2.4em;
  left: -4em;
}

.star-8 {
  position: relative;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 0;
}
.star-8, .star-8:before {
  width: 5em;
  height: 5em;
  background: black;
}
.star-8:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  z-index: -1;
}

.star-8-2 {
  position: relative;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 0;
}
.star-8-2, .star-8-2:before {
  width: 8em;
  height: 8em;
  background: black;
}
.star-8-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  z-index: -1;
}

.star-12 {
  position: relative;
  text-align: center;
  z-index: 0;
}
.star-12, .star-12:before, .star-12:after {
  width: 5em;
  height: 5em;
  background: black;
}
.star-12:before, .star-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.star-12:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.star-12:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.star-12-2 {
  position: relative;
  text-align: center;
  z-index: 0;
}
.star-12-2, .star-12-2:before, .star-12-2:after {
  width: 8em;
  height: 8em;
  background: black;
}
.star-12-2:before, .star-12-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.star-12-2:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.star-12-2:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
