div {
  display: none;
}
div:after {
  content: attr(class);
  font-size: 2em;
}

.min,
.max {
  opacity: .4;
}

.only {
  font-weight: bold;
}

@media (min-width: 1824px) {
  .xxl.min {
    display: block;
  }
}

@media (min-width: 1382px) {
  .xl.min {
    display: block;
  }
}

@media (min-width: 992px) {
  .l.min {
    display: block;
  }
}

@media (min-width: 768px) {
  .m.min {
    display: block;
  }
}

@media (min-width: 600px) {
  .s.min {
    display: block;
  }
}

@media (min-width: 480px) {
  .xs.min {
    display: block;
  }
}

@media (min-width: 320px) {
  .xxs.min {
    display: block;
  }
}

@media (min-width: 1824px) {
  .xxl.only {
    display: block;
  }
}

@media (min-width: 1382px) and (max-width: 1823px) {
  .xl.only {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1381px) {
  .l.only {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .m.only {
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .s.only {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .xs.only {
    display: block;
  }
}

@media (max-width: 480px) {
  .xxs.only {
    display: block;
  }
}

@media (max-width: 1824px) {
  .xxl.max {
    display: block;
  }
}

@media (max-width: 1382px) {
  .xl.max {
    display: block;
  }
}

@media (max-width: 992px) {
  .l.max {
    display: block;
  }
}

@media (max-width: 768px) {
  .m.max {
    display: block;
  }
}

@media (max-width: 600px) {
  .s.max {
    display: block;
  }
}

@media (max-width: 480px) {
  .xs.max {
    display: block;
  }
}

@media (max-width: 320px) {
  .xxs.max {
    display: block;
  }
}
