@mixin ui-glossy($color: #000, $opacity: .6, $border-width: .1em, $border-color-top: rgba(255,255,255,.5), $border-color-bottom: rgba(85,85,85,.6))
{
    border-left: 0;
    border-right: 0;
    
    border: $border-width solid $border-color-top;
    border-bottom-color: $border-color-bottom;
    
    outline: $border-width solid rgba(0,0,0,.6);
    background: $color;
    background: transparentize($color, $opacity);
    //background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(112,112,112,.55)), color-stop(.49, rgba(56,56,56,.46)), color-stop(.51, rgba(0,0,0,.58)), to(rgba(0,0,0,.58)));
    //background: -moz-linear-gradient(rgba(112,112,112,.55), rgba(56,56,56,.46) 49%, rgba(0,0,0,.58) 51%, rgba(0,0,0,.58));
    //background: linear-gradient(rgba(112,112,112,.55), rgba(56,56,56,.46) 49%, rgba(0,0,0,.58) 51%, rgba(0,0,0,.58));
    @include background(linear-gradient(rgba(112,112,112,.55), rgba(56,56,56,.46) 49%, rgba(0,0,0,.58) 51%, rgba(0,0,0,.58) 51%));
}
    @mixin ui-glossy-inset {
        -moz-border-radius: .5em;
        border-radius: .5em;
        background: -webkit-gradient(linear,0 0, 0 100%,from(#020304),to(#252627));
        background: -moz-linear-gradient(#020304,#252627);
        background: linear-gradient(#020304,#252627);
        border: .1em solid #454545; 
    }