div {
  color: #fff;
  text-shadow: 0 -0.1em 0.2em black;
  margin: 4em auto;
  text-align: center;
}

.hexagon {
  width: 5em;
  height: 2.5em;
  background-color: black;
  position: relative;
}
.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
}
.hexagon:before {
  top: -1.25em;
  border-bottom: 1.25em solid black;
}
.hexagon:after {
  bottom: -1.25em;
  border-top: 1.25em solid black;
}

.hexagon2 {
  width: 8em;
  height: 2.5em;
  background-color: black;
  position: relative;
}
.hexagon2:before, .hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
}
.hexagon2:before {
  top: -2em;
  border-bottom: 2em solid black;
}
.hexagon2:after {
  bottom: -2em;
  border-top: 2em solid black;
}

.hexagon3 {
  width: 5em;
  height: 4em;
  background-color: black;
  position: relative;
}
.hexagon3:before, .hexagon3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
}
.hexagon3:before {
  top: -1.25em;
  border-bottom: 1.25em solid black;
}
.hexagon3:after {
  bottom: -1.25em;
  border-top: 1.25em solid black;
}

.octagon {
  width: 5em;
  height: 2.1em;
  background: black;
  position: relative;
}
.octagon:before, .octagon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2.1em;
  height: 0;
  border-left: 1.45em solid transparent;
  border-right: 1.45em solid transparent;
}
.octagon:before {
  top: -1.45em;
  border-bottom: 1.45em solid black;
}
.octagon:after {
  bottom: -1.45em;
  border-top: 1.45em solid black;
}

.octagon2 {
  width: 5em;
  height: 3.36em;
  background: black;
  position: relative;
}
.octagon2:before, .octagon2:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2.1em;
  height: 0;
  border-left: 1.45em solid transparent;
  border-right: 1.45em solid transparent;
}
.octagon2:before {
  top: -2.32em;
  border-bottom: 2.32em solid black;
}
.octagon2:after {
  bottom: -2.32em;
  border-top: 2.32em solid black;
}

.octagon3 {
  width: 8em;
  height: 2.1em;
  background: black;
  position: relative;
}
.octagon3:before, .octagon3:after {
  content: "";
  position: absolute;
  left: 0;
  width: 3.36em;
  height: 0;
  border-left: 2.32em solid transparent;
  border-right: 2.32em solid transparent;
}
.octagon3:before {
  top: -1.45em;
  border-bottom: 1.45em solid black;
}
.octagon3:after {
  bottom: -1.45em;
  border-top: 1.45em solid black;
}

.parallelogram {
  width: 8em;
  height: 5em;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg);
  background: black;
}

.parallelogram2 {
  width: 5em;
  height: 8em;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  background: black;
}

.pentagon {
  position: relative;
  width: 2.7em;
  border-width: 2.5em 0.9em 0;
  border-style: solid;
  border-color: black transparent;
}
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -4.25em;
  left: -0.9em;
  border-width: 0 2.25em 1.75em;
  border-style: solid;
  border-color: transparent transparent black;
}

.pentagon2 {
  position: relative;
  width: 4.32em;
  border-width: 2.5em 1.44em 0;
  border-style: solid;
  border-color: black transparent;
}
.pentagon2:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -4.25em;
  left: -1.44em;
  border-width: 0 3.6em 1.75em;
  border-style: solid;
  border-color: transparent transparent black;
}

.pentagon3 {
  position: relative;
  width: 2.7em;
  border-width: 4em 0.9em 0;
  border-style: solid;
  border-color: black transparent;
}
.pentagon3:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -6.8em;
  left: -0.9em;
  border-width: 0 2.25em 2.8em;
  border-style: solid;
  border-color: transparent transparent black;
}

.rectangle {
  width: 8em;
  height: 5em;
  background: black;
}

.rectangle2 {
  width: 5em;
  height: 8em;
  background: black;
}

.rhombus {
  width: 5em;
  height: 5em;
  background: black;
  -webkit-transform: rotate(-45deg) skew(0deg, 0deg);
  -moz-transform: rotate(-45deg) skew(0deg, 0deg);
  -ms-transform: rotate(-45deg) skew(0deg, 0deg);
  -o-transform: rotate(-45deg) skew(0deg, 0deg);
  transform: rotate(-45deg) skew(0deg, 0deg);
}

.rhombus2 {
  width: 8em;
  height: 8em;
  background: black;
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
  -moz-transform: rotate(-45deg) skew(-10deg, -10deg);
  -ms-transform: rotate(-45deg) skew(-10deg, -10deg);
  -o-transform: rotate(-45deg) skew(-10deg, -10deg);
  transform: rotate(-45deg) skew(-10deg, -10deg);
}

.rhombus3 {
  width: 5em;
  height: 5em;
  background: black;
  -webkit-transform: rotate(-45deg) skew(20deg, 20deg);
  -moz-transform: rotate(-45deg) skew(20deg, 20deg);
  -ms-transform: rotate(-45deg) skew(20deg, 20deg);
  -o-transform: rotate(-45deg) skew(20deg, 20deg);
  transform: rotate(-45deg) skew(20deg, 20deg);
}

.square {
  width: 5em;
  height: 5em;
  background: black;
}

.square2 {
  width: 8em;
  height: 8em;
  background: black;
}

.trapezoid {
  border-bottom: 5em solid black;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  height: 0;
  width: 5em;
}

.trapezoid2 {
  border-bottom: 5em solid black;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  height: 0;
  width: 8em;
}

.trapezoid3 {
  border-bottom: 8em solid black;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  height: 0;
  width: 5em;
}
