@import "recipes/image/dimensions";

div
{
	outline: 1px solid red;
	min-width: 1em;
	min-height: 1em;
}

.image-dimensions { @include image-dimensions("test.jpg", true) }
.image-dimensions-true-false { @include image-dimensions("test.jpg", true false) }

.image-dimensions-true-false-true { @include image-dimensions("test.jpg", true false true) }

.image-dimensions-true-true-true { @include image-dimensions("test.jpg", true true true) }
.image-dimensions-all { @include image-dimensions("test.jpg", all) }